*{
    margin:0;
    padding:0;
}

/* shared style start */
body{
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}

.btn{
    border: none;
    background: linear-gradient(16deg,#F7E93F 15%,#FB09B4 45%,#9100F8 82%);
    color: #ffff;
    padding: 14px 20px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;
}


/* shared style end */


/* navbar start */
    nav{
        background-color: #1A0B2E;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ffffff16;
    }
    nav .container{
        justify-content: space-between;
        align-items: center;
    }

    nav .container .logo a{
        text-decoration: none;
        color: #ffff;
        font-size: 20px;
        font-weight: 700;
    }
    nav .container .logo img{
        max-width: 180px;
    }

    .nav-menu ul{
        gap: 50px;
        flex-wrap: wrap;
        list-style-type: none ;
    }
    .nav-menu ul li a{
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        color: #ffff;
        text-transform: capitalize;
    }
/* navbar end */


/* banner start */
#banner{
    background-color: #9100F8;
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content{
    text-align: center;
}

.banner-img{

    align-items: center;
    justify-content: center;
    padding-top: 70px;
}
.banner-img .circle-img{
    position: relative;
}
.banner-img .microphon{
    position: absolute;
}

.banner-img .badge{
    position:absolute;
    background-color: #00FF88;
    border-radius: 25px;
    padding: 8px 16px;
    top: 12px;
    right: 25px;
    box-shadow: 0 3px 27px #00ff8861 ;
}
.banner-img .badge p{
    font-size: 1.1rem;
    font-weight: 600;
    color: #1A0B2E;
    text-transform: uppercase;
}


.banner-text h1{
    font-size: 3.75rem;
    font-weight: 800;
    color: #ffff;
    padding-top: 40px;
}
.banner-text p{
    font-size: 1rem;
    font-weight: 400;
    color: #ffff;
    padding-top: 20px;
}

.banner-button{
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 100px;
}
.banner-button .button2{
    background: none;
    border: 1px solid #00FF88;
    color: #00FF88;
}

/* banner end */





/* main start */

/* about start */
#about{
    background-color: #1A0B2E;
    padding-bottom: 80px;
}

.about-content{
    text-align: center;
    border-bottom: 1px solid #ffffff16;
}
.about-content h2{
    color: #ffff;
    font-size: 3rem;
    font-weight: 700;
}
.about-content p{
    color: #ffff;
    font-size: 1rem;
    font-weight: 400;
    padding: 16px 223px;
    line-height:25px;
}
.about-content .sub-p{

    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 80px;
}

/* about end */


/* main end */